@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
/* Mixins */
* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


header {
  height: 48px;
  display: flex;
  text-align: center;
  background: #EAB25B;
  align-items: center;
  justify-content: center;
}

footer {
    height: 24px;
    display: flex;
    text-align: center;
    background: #EAB25B;
    align-items: center;
    justify-content: center;
  }

.body {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%
}

.section_wrapper_full {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 1366px;
    min-height: 1366px;
}

.section_wrapper_half {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 768px;
    min-height:768px;
    background-color: #EAB25B;

  }

.section_wrapper_quarter{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 384px;
  }

 .content-area_full {
  background: #C6403D;
  order: 2;
  flex: 3;
}
.body .HolyGrail-nav {
  background: #663D4F;
  order: 1;
  flex: 1;
}
.body .HolyGrail-ads {
  background: #3670A0;
  order: 3;
  flex: 1;
}

footer {
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

}

.red {
    background-color: crimson;
}

.blue{
    background-color: blue;
}

.black {
    background-color: black;
}
.white {
    background-color:white;
    color: white;
}

@media only screen and (max-width: 720px) {
  .body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .body {
    order: 1;
  }
  .body  {
    order: 2;
  }
  .body {
    order: 3;
  }

  footer {
    height: 50px;
  }
}
